/* -------------------------------------------------------------------------- */

/* flex-box */

.flex-box {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* side-bar */

.flex-box > .side-bar {
  width: 20%;
}

.flex-box > .side-bar > .color-stack {
  padding: 70px 0 0 85px;
}

/* -------------------------------------------------------------------------- */
/* Hamburger Menu */
/* -------------------------------------------------------------------------- */

.flex-box > .side-bar .hamburger-icon {
    margin-top: 80px;
}
.flex-box > .side-bar .dropdown {
    position: relative;
    display: inline-block;
}

.flex-box > .side-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: 40px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.flex-box > .side-bar .dropdown-content ul {
  list-style: none;
}

.flex-box > .side-bar .dropdown-content ul li a img.linkedin {
  background: #000;
}

.flex-box > .side-bar .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.flex-box > .side-bar .dropdown-content a:hover {
  background-color: #f1f1f1
}

.flex-box > .side-bar .dropdown:hover .dropdown-content {
    display: block;
}

.flex-box > .side-bar .dropdown:hover .hamburger-icon {
    background-color: #000;
}

.flex-box > .side-bar .dropdown:hover .hamburger-icon span {
  background-color: #fff;
}

/* -------------------------------------------------------------------------- */

/* document header */

.flex-box > .content > .doc-header {
  height: 14%;
  margin-top: 20px;
}

.flex-box > .content > .doc-header > .title-text {
  margin-right: 15px;
}

.flex-box > .content > .doc-header > .title-text > h1 {
  font-size: 52px;
  letter-spacing: 1px;
}

.flex-box > .content > .doc-header > .title-text > p {
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */

/* main content*/

.flex-box > .content {
  overflow: auto;
}

/* feature-banner */

.flex-box > .content > .feature-banner {
  background: url(https://raw.githubusercontent.com/Patel-Jenu-1991/portfolio/master/img/medium-banner.jpg) no-repeat 100%;
}

/* -------------------------------------------------------------------------- */

/* portfolio projects */

.flex-box > .content > .projects > .show-case {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 5px;
}

.flex-box > .content > .projects > .show-case > .item {
  width: 80%;
}

.flex-box > .content > .projects > .show-case > .item > .item-description > h3 {
  font-size: 36px;
}

.flex-box > .content > .projects > .show-case > .item > .item-description > a {
  font-size: 24px;
}

.flex-box > .content > .projects > .work-title > h2 {
  font-size: 46px;
  letter-spacing: 3px;
  padding: 5px 0 20px 20px;
}

/* -------------------------------------------------------------------------- */

/* document footer */

.foot-note {
  font-size: 26px;
  font-weight: bolder;
  padding-top: 15px;
}

/* -------------------------------------------------------------------------- */
