/* Mobile Screens */
@media screen and (min-width: 300px) and (max-width: 768px) {
  /* -------------------------------------------------------------------------- */
  /* flex-box */
  .flex-box {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  /* -------------------------------------------------------------------------- */
  /*                                Main content                                */
  /* -------------------------------------------------------------------------- */
  .flex-box > .content {
    overflow: auto;
  }
  /* -------------------------------------------------------------------------- */
  /* document header */
  .flex-box > .content > .doc-header {
    margin-top: 0;
    height: 15%;
  }

  .flex-box > .content > .doc-header > .logo {
    margin-top: 5px;
  }

  .flex-box > .content > .doc-header > .logo > img {
    width: 65%;
  }

  .flex-box > .content > .doc-header > .title-text {
    margin-top: 30px;
    margin-right: 0;
  }

  .flex-box > .content > .doc-header > .title-text > h1 {
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(184, 184, 184, 1);
  }

  .flex-box > .content > .doc-header > .title-text > p {
    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(184, 184, 184, 1);
  }
  /* -------------------------------------------------------------------------- */
  /* feature-banner */
  .flex-box > .content > .feature-banner {
    background: url(../img/html5-landing.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35%;
  }
  /* -------------------------------------------------------------------------- */
  /* portfolio projects */
  .flex-box > .content > .projects {
    height: auto;
  }

  .flex-box > .content > .projects > .work-title > h2 {
    font-size: 22px;
    padding: 5px 0 5px 10px;
  }

  .flex-box > .content > .projects > .show-case {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 14px;
    padding: 5px;
  }

  .flex-box > .content > .projects > .show-case > .item {
    box-shadow: 2px 2px 2px 2px #a0a0a0;
    padding: 5px;
    width: 70%;
  }

  .flex-box
    > .content
    > .projects
    > .show-case
    > .item
    > .item-description
    > h3 {
    font-size: 16px;
    font-weight: 300;
    padding: 0;
  }

  .flex-box
    > .content
    > .projects
    > .show-case
    > .item
    > .item-description
    > a {
    font-size: 12px;
  }

  .flex-box > .content > .projects > .show-case > .item > .thumbnail {
    height: 50%;
    padding: 0;
    width: 60%;
  }
  /* -------------------------------------------------------------------------- */
  /* document footer */
  .foot-note {
    font-size: 0.6em;
    height: 5%;
    padding-top: 0;
  }

  .foot-note > .note {
    padding-top: 2%;
    width: 84%;
  }

  .foot-note > .social-media {
    width: 16%;
  }

  .foot-note > .social-media > a > .social-media-icon {
    width: 50%;
  }
  /* -------------------------------------------------------------------------- */
}
